<aside id="modal-free-shipping" class="mfp-with-anim mfp-hide mfp-dialog mfp-dialog-big clearfix modal-free-shipping">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          {{ 'logo.png' | asset_img_url:'400x' | img_tag, 'Popup Logo', 'logo-popup' }}
          {{ 'free-shipping-image.png' | asset_url | img_tag, 'free-shipping-img', 'free-shipping-img' }}
          <p class="lead text-center">At Detroit OG, we believe that great quality and great service go hand in hand. That’s why we decided that every order, no matter the minimum, will be shipped for free. No matter where we ship to, whether you live in the 313 or the 305, we will ship for free.</p>
          <p class="text-center"><button id="modal-free-shipping-close" class="btn btn-primary btn-lg">GOT IT</button></p>
        </div>
      </div>
    </div>
  </div>
</aside>
<style>
  #modal-free-shipping .lead {
    font-size: 20px;
    font-weight: 100;
    line-height: 1.6;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .logo-popup {
    width: 200px;
    margin: 0 auto;
  }
  .free-shipping-img {
    display: block;
    margin: 0 auto;
  }
</style>
<script>
  (function($){
    $('#modal-free-shipping-toggle').on('click', function(e){
      e.preventDefault();
    });

    $('#modal-free-shipping-toggle')
      .fadeIn('fast')
      .magnificPopup({
        type:'inline',
        midClick: true,
        mainClass:'mfp-move-from-top',
        removalDelay: 100
      });
    $('#modal-free-shipping').on('click', function(e){
      $.magnificPopup.close();
    });
  })(jQuery);
</script>
