{{ 'jquery.tmpl.min.js' | asset_url | script_tag }}
{{ 'jquery.products.js' | asset_url | script_tag }}

<div id="recently-viewed-products-wrapper" class="product-grid recently-viewed-products" style="display:none">
  <h2 class="section-header__title text-center">Recently Viewed</h2>
  <div class="swiper-container">
    <div id="recently-viewed-products" class="swiper-wrapper">
    </div>
  </div>
</div>

{% raw %}
<script id="recently-viewed-product-template"  type="text/x-jquery-tmpl">
<div class="swiper-slide">
  <div id="product-${handle}" class="product__single-grid">
    <div class="image">
      <a href="${url}" class="grid__image">
        <img src="${Shopify.Products.resizeImage(featured_image, "large")}" />
      </a>
    </div>
    <div class="details">
   		<p class="grid-product-title h6">
	      <a href="${url}">${title}</a>
        <span>{{if price_varies}}From {{/if}}${Shopify.formatMoney(price)}</span>
  		</p>
    </div>
  </div>
</div>
</script>
{% endraw %}

<script>
Shopify.Products.showRecentlyViewed( { howManyToShow:4 } );
</script>
